/* some style */

body {
    background-color: #116466;
}

.center {
    margin: auto;
    width: 75%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

div.center-box {
    width: 100%;
    height: 100%; 
}

.question {
    color: #a1e9c2;
}

h1 {
    align-content: center;
    font-size: 9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffcb9a;
}

.question-marker {
    align-content: center;
    font-size: 4em;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #88ced4;
}

.wait, .press {
    margin-top: 40px;
    padding: 60px;
    color: #fff;
    border-radius: 15px;
}

.wait {
    background-color: #c33;
}

.press {
    background-color: #3c3;
}

